@import "tailwindcss";

:root {
	--background: #000000;
	--primary: #aaaaaa;
	--primary-foreground: #ffffff;
}

@theme inline {
	--color-background: var(--background);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
}

@layer base {
	body {
		@apply bg-background text-primary font-mono text-xs;
	}
}

@layer utilities {
	.link {
		@apply hover:decoration-primary-foreground decoration-primary/30 underline underline-offset-1 transition-colors;
	}

	.list-dash {
		@apply grid leading-5;
	}

	.list-dash > li {
		@apply relative;
	}

	.list-dash > li::before {
		@apply text-primary-foreground/50 absolute -left-4 content-['-'];
	}

	.no-before::before {
		content: none !important;
	}
}
